/*
 Theme:          Hueman Child Theme
 Theme URI:      https://www.kungfugrep.com
 Description:    Hueman Child Theme
 Author:         Chris Klosowski
 Author URI:     https://www.kungfugrep.com
 Template:       hueman
 Version:        1.0.0
*/

@import url("../hueman/style.css");

/* =Theme customization starts here
------------------------------------------------------- */
.syntaxhighlighter {
	font-size: 14px !important;
}

.entry.share {
	padding-right: 0px;
}

.author-bio .bio-avatar:after {
	display: none;
}

.chunkhost-ad .bio-avatar {
	top: 50%;
	transform: translateY(50%);
}

.notebox .edd-extensions-wrapper {
	overflow:auto;
	text-align: center;
}

.notebox .edd-extension {
	display: inline-block;
	text-align: center;
	margin: 8px;
}

#menu-tag-menus li:first-child {
	background-color: #eee;
}

#menu-tag-menus li:first-child a {
	color: #333;
}

#header .pad {
	padding-top: 2px;
	padding-bottom: 2px;
}

